/* @keyframes example {
    0% {background-color: rgb(0, 255, 34);}
    25% {background-color: rgb(134, 0, 223);}
    50% {background-color: rgb(0, 221, 255);}
    75% {background-color: rgb(134,0,223);}
    100% {background-color: rgb(0,255,34);}
  } */

  body{
    /* animation-name: example;
   animation-duration: 20s;
   animation-iteration-count: infinite;*/  
}

.card {
   margin-left: 300px;
   margin-right: 300px;
   margin-top:150px;
   margin-bottom: 100px;
   padding: 40px 40px 40px 40px;
   background-color: rgba(255, 255, 255, 0.336);
   background-image: linear-gradient(125deg, rgba(255, 255, 255, 0.5),rgba(128, 128, 128, 0.5));
   border: solid;
   border-color: rgba(255, 255, 255, 0.192);
   color: white;
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 40px;
}

input {
   border-radius: 10px;
   padding: 10px;
}

#submit{
    border-radius: 10px;
    border:solid;
    border-color: rgb(202, 27, 0);
    margin:175px 175px 175px 175px;
    background-color: rgb(255, 119, 0);
 }
 
 #submit:hover{
    border: solid;
    border-color: rgb(255,119,0);
    background-color: rgb(202, 27, 0);
    color: white;
 }

 button{
   border-radius: 10px;
   border:solid;
   border-color: rgb(255,119,0);
   background-color: rgb(202,27,0);
   color:white;
 }
label{
   color: black;
}

h1{
}

a{
    color: black;
}

.error{
   color: black;
}